// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$phone: 430px;
$max-phone: 576px;
$tablet: 720px;
$desktop: 1024px;

// Colores
$blue: #0da6f3;
$red: #FFB0A7;
$green:#8BC34A;
$black: #1a1b15;
$yellow: #ffc900;
$OrangeCC: rgb(255, 111, 0);
$bgLogoBlue: #11376d;

$white: #FFFFFF;
$gray: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;

